---
---
{% include intro.html %}

{% for particle in site.data.colors %}

	<div>
		<h1>bullet_tracers_onlycrits.pcf</h1>
			<div class="both-class-colours">
				<div class="red-particle">
					<h2>bullet_bignasty_tracer01_red_crit</h2>
					<div>
						<h3> color1 </h3>
						<div class='colour-display' style="background-color: rgb(255.0, 0.0, 24.0);"></div>
					</div>
					<div>
						<h3> color2 </h3>
						<div class='colour-display' style="background-color: rgb(255.0, 2.0, 2.0);"></div>
					</div>
				</div>
		
				<div class="blue-particle">
					<h2>bullet_bignasty_tracer01_blue_crit</h2>
					<div>
						<h3> color1 </h3>
						<div class='colour-display' style="background-color: rgb(0.0, 30.0, 255.0);"></div>
					</div>
					<div>
						<h3> color2 </h3>
						<div class='colour-display' style="background-color: rgb(2.0, 38.0, 255.0);"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endfor %}

{% include outro.html %}
