@import url('http://fonts.cdnfonts.com/css/tf2-build');
@import url('http://fonts.cdnfonts.com/css/tf2-secondary');

.both-class-colours {
	display: flex;
	justify-content: space-around;
	align-items: center;
	.red-particle, .blue-particle {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h2 {
			align-self: flex-start;
		}
		div {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
}

body {
	margin: 0;
	font-family: 'TF2 Build', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	scrollbar-gutter: stable;
	overflow-x: hidden;
}

$background-layer-0: #34302d;
$background-layer-1: lighten($background-layer-0, 10);
$background-layer-2: lighten($background-layer-1, 10);
$background-layer-3: #6A6664;
$background-layer-4: lighten($background-layer-3, 10);
$background-layer-5: lighten($background-layer-4, 10);
$background-layer-6: lighten($background-layer-5, 10);
$background-layer-7: lighten($background-layer-6, 10);

$red-text: #bd3b3b;
$red-background: #6a4535;
// $blu-text: #768A88; //this was originally from the tf2 color pallet
$blu-text: invert($red-text); //but i thought it looked bad so now i use inverted red text instead
$blu-background: #395c78;

$red-preview-text: #C65032;
$blu-preview-text: invert($red-preview-text); //listen its hard to find blu text colors in the tf2 color pallet

main {
	background-color: $background-layer-0;
	min-height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	nav {
		width: 100vw;
		height: 10vh;
		&.red {
			background-color: $red-background;
			color: $red-text;	
		}
		&.blu {
			background-color: $blu-background;
			color: $blu-text;	
		}
	}
	#preview-box {
		width: 100vw;
		height: 75vh;
		display: flex;
		justify-content: space-evenly;
		background-color: $background-layer-1;
		align-items: center;
		#preview-color-pane {
			width: 15%;
			height: 75%;
			background-color: darken($background-layer-2, 20);
			border-radius: 50px;
			
			#blue-preview-colors {
				display: none;
			}
			.preview-colors {
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				padding-top: 20%;
				padding-bottom: 20%;
				box-sizing: border-box;
				flex-direction: column;
				height: 100%;
				width: 100%;
				.crits, .minicrits {
					height: min-content;
					width: 60%;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					h2 {
						white-space: nowrap;
						text-align: center;
						margin: 0;
						margin-bottom: 10px;
						color: #C65032;
					}

					&.red {
						h2 {
							color: $red-preview-text;
						}	
					}

					&.blue {
						h2 {
							color: $blu-preview-text;
						}	
					}
	
					.colour-display {
						aspect-ratio: 1;
						width: 100%;
						border-radius: 10px;
						border: solid rgb(0, 0, 0);
					}
				}
				.crits {
					margin-bottom: 10px;
				}
				.minicrits {
					h2 {
						font-size: 1.25em;
					}
					.colour-display {
						aspect-ratio: 1;
						width: 70%;
						border-radius: 10px;
					}
				}
			}
		}
		#preview-tv {
			display: flex;
			align-items: center;
			width: 75%;
			height: 90%;
			position: relative;
			background-color: $background-layer-2;
			border-radius: calc(10px + 1vw); //for lower widths lol
			box-sizing: border-box;
			padding-left: 2.5%;
			padding-right: 2.5%;
			padding-top: 2%;
			padding-bottom: 2%;
			flex-direction: column;
			#preview-image {
				display: flex;
				align-items: center;
				width: 100%;
				height: 100%;
				position: relative;
				* {
					width: 100%;
					height: 100%;
					position: absolute; top: 0; left: 0;
					background-position: bottom;
					// background-position-x: right;
					background-repeat: no-repeat;
					background-size: cover;
					border-top-left-radius: 10px;
					border-top-right-radius: 10px;		
				}
				#preview-template {
					background-image: url('assets/preview/rocketlauncher/template.png');
					mix-blend-mode: luminosity;
				}
				#preview-color-blue {
					background-color: rgb(33, 95, 204);
					mask-image: url('assets/preview/rocketlauncher/mask.png');
					mask-position: bottom;
					mask-size: cover;
					display: none;
				}
			
				#preview-color-red {
					background-color: rgb(204, 20, 13);
					mask-image: url('assets/preview/rocketlauncher/mask.png');
					mask-position: bottom;
					mask-size: cover;
				}
			
				#preview-hand-blu {
					background-image: url('assets/preview/rocketlauncher/blu_hand.png');
					display: none;
				}
			
				#preview-hand-red {
					background-image: url('assets/preview/rocketlauncher/red_hand.png');
				}
			
				#preview-background {
					background-image: url('assets/preview/rocketlauncher/background.png');
				}
			
				#preview-crits {
					
					background-color: rgb(33, 95, 204);
					video {
						mix-blend-mode: luminosity;
					}
				}
			}
				
			#team-select {
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				width: 100%;
				height: 10%;
				background-color: $background-layer-4;
				color: #fff;
				font-size: 2em;
				border-bottom-right-radius: 10px;
				border-bottom-left-radius: 10px;
				z-index: 99;
			}
		}
	}	

	#generate-button-container {
		display: flex;
		flex: 1;
		height: 100%;
		min-height: calc(14vh - 40px);
		width: 100%;
		align-items: center;
		justify-content: center;
		#generate-button {
			height: 50%;
			width: 20%;
			background-color: #C9BFA8;
			&.active, &:hover {
				background-color: #924738;
				color: #ECE3CB;
			}	

			// padding-block: 0;
			// padding-inline: 2px;
			// border: 1px dotted transparent;
			border: 2px outset ThreeDLightShadow;
			padding-block: 1px;
			padding-inline: 4px;

			font-family: 'TF2 Build', sans-serif;
			cursor: pointer;
			color: #2A2725;	
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 30px;
			padding-top: 5px;
			padding-bottom: 5px;
			border-radius: 5px;
			// min-height: calc(7vh - 20px); //i have no fucking clue why but this div hates just reading the height from its parent so im just doing it like this fuck you
		}
	}
}

@mixin layering($color1: "default", $color2: "default") {
	background-color: $color1;
	button {
		background-color: $color1;
		&.active, &:hover {
			background-color: darken($color1, 10)
		}
	}
	content {
		background-color: $color2;
	}
}

$blu-team: #395c78;
$light-blu-team:  #5b7a8c;
$light-blu-team-trans:  #5b7a8c90;

$red-team: #9d312f;
$light-red-team:   #bd3b3b;
$light-red-team-trans: #bd3b3b90;


.collapsible {
	width: 100%;
	button {
		font-family: 'TF2 Build', sans-serif;
		background-color: $background-layer-1;
		color: white;
		cursor: pointer;
		box-sizing: border-box;
		padding: 1vh 3vw;
		font-size: 30px;
		width: 100%;
		border: none;
		text-align: left;
		outline: none;
		
		// &.active, &:hover {
		// 	background-color: #555;
		// }
	}
	
	.content {
		padding-left: 3vw;
		padding-right: 3vw;
		box-sizing: border-box;
		max-height: 0;
		width: 100%;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
		.color-lock-container {
			height: 2.5vh;
			margin-bottom: -2.5vh;
			color: #292526;
			input[type="checkbox"] {
				opacity: 0;
			}
			label {
				background: url('/assets/unchecked.png') no-repeat;
				background-size: contain;
				padding-left: 2ch;
				margin-left: -2ch;
			}
			input[type="checkbox"]:checked + label {
				background: url('/assets/checked.png')  no-repeat;
				background-size: contain;
			}
		}
		.collapsible {
			margin-top: 3vh;
			margin-bottom: 3vh;
		}
		.red-particle, .blue-particle {
			margin-top: 3vh;
			margin-bottom: 3vh;
			padding-top: 3vh;
			padding-bottom: 3vh;

			
			display: flex;
			justify-content: space-evenly;
			div {
				display: flex;
				flex-direction: column;
				h3 {
					margin: 0;
					font-size: 30px;
				}
				.colour-display {
					height: 15vh;
					aspect-ratio: 1;
					border: solid rgb(0, 0, 0);
					border-radius: 10px;
				}
			}
		}
		.blue-particle {
			background-color: $light-blu-team-trans;
			border: solid $blu-team;
			border-radius: 10px;
		}
		.red-particle {
			background-color: $light-red-team-trans;
			border: solid darken($red-team, 10);
			border-radius: 10px;
		}
	}

	&.layer0 {
		@include layering($background-layer-5, $background-layer-1);
	}

	&.layer1 {
		@include layering($background-layer-1, $background-layer-5);
	}

	&.layer2 {
		@include layering($background-layer-5, $background-layer-1);
	}
}

.help {
	left: 100%;
	position: relative;
	height: 2.5vw;
	width: 2.5vw;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: -2.8vw;
	font-size: 40px;
	margin-left: 0.2vw;
	margin-top: 0.3vw;
	border-radius: 100%;
	color: #ECE3CB;
	background-color: #766B5E;
	cursor: pointer;
	&:hover {
		background-color: #924738;
		color: #ECE3CB;
	}
}

#tooltip {
	font-family: 'TF2 Secondary', sans-serif;
	display: none;
	position: absolute;
	background-color: black;
	color: white;
	top: 0;
	left: 0;
	width: 400px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 18px;
	border-radius: 10px;
	background: linear-gradient(to top, #211D19 0%, #38332D 100%);
	border: 2px outset ThreeDLightShadow;
	border-color: #726657;
	z-index: 99;
	&.active {
		display: block;
	}
}
