.colour-display {
  aspect-ratio: 1;
  width: 100px;
  height: 100px;
}

.both-class-colours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.both-class-colours .red-particle, .both-class-colours .blue-particle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.both-class-colours .red-particle h2, .both-class-colours .blue-particle h2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.both-class-colours .red-particle div, .both-class-colours .blue-particle div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#rocketlauncher_preview {
  aspect-ratio: 16 / 9;
  width: 80vw;
  height: auto;
}

#rocketlauncher_preview * {
  aspect-ratio: 16 / 9;
  width: 80vw;
  height: auto;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#rocketlauncher_preview #preview-template {
  background-image: url("assets/preview/rocketlauncher/template.png");
  mix-blend-mode: luminosity;
}

#rocketlauncher_preview #preview-color-blu {
  background-color: #215fcc;
  -webkit-mask-image: url("assets/preview/rocketlauncher/mask.png");
          mask-image: url("assets/preview/rocketlauncher/mask.png");
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: cover;
          mask-size: cover;
  display: none;
}

#rocketlauncher_preview #preview-color-red {
  background-color: #cc140d;
  -webkit-mask-image: url("assets/preview/rocketlauncher/mask.png");
          mask-image: url("assets/preview/rocketlauncher/mask.png");
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: cover;
          mask-size: cover;
}

#rocketlauncher_preview #preview-hand-blu {
  background-image: url("assets/preview/rocketlauncher/blu_hand.png");
  display: none;
}

#rocketlauncher_preview #preview-hand-red {
  background-image: url("assets/preview/rocketlauncher/red_hand.png");
}

#rocketlauncher_preview #preview-background {
  background-image: url("assets/preview/rocketlauncher/background.png");
}

#rocketlauncher_preview #preview-crits {
  background-color: #215fcc;
}

#rocketlauncher_preview #preview-crits video {
  mix-blend-mode: luminosity;
}
/*# sourceMappingURL=style.css.map */