.colour-display {
	aspect-ratio: 1;
	width: 100px;
	height: 100px;
}

.both-class-colours {
	display: flex;
	justify-content: space-around;
	align-items: center;
	.red-particle, .blue-particle {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h2 {
			align-self: flex-start;
		}
		div {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
}

#rocketlauncher_preview {
	aspect-ratio: 16 / 9;
	width: 80vw;	
	height: auto;
	* {
		aspect-ratio: 16 / 9;
		width: 80vw;	
		height: auto;
		position: absolute;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.preview-template {
		background-image: url('assets/preview/rocketlauncher/template.png');
		mix-blend-mode: luminosity;
	}
	.preview-color {
		background-color: rgb(33, 95, 204);
  		mask-image: url('assets/preview/rocketlauncher/mask.png');
		mask-position: center;
		mask-size: cover;
	}

	.preview-hand {
		background-image: url('assets/preview/rocketlauncher/blu_hand.png');
	}

	.preview-background {
		background-image: url('assets/preview/rocketlauncher/background.png');
	}

	.preview-crits {
		
		background-color: rgb(33, 95, 204);
		video {
			mix-blend-mode: luminosity;
		}
	}
}

