@import url('http://fonts.cdnfonts.com/css/tf2-build');

.both-class-colours {
	display: flex;
	justify-content: space-around;
	align-items: center;
	.red-particle, .blue-particle {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h2 {
			align-self: flex-start;
		}
		div {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
}

body {
	margin: 0;
	font-family: 'TF2 Build', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
}

$background-layer-0: #34302d;
$background-layer-1: lighten($background-layer-0, 10);
$background-layer-2: lighten($background-layer-1, 10);
$background-layer-3: #6A6664;
$background-layer-4: lighten($background-layer-3, 10);

main {
	background-color: $background-layer-0;
	min-height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	nav {
		width: 100vw;
		height: 10vh;
		background-color: #6a4535;
		color: #C65032;
	}
	#preview-box {
		width: 100vw;
		height: 75vh;
		display: flex;
		justify-content: space-evenly;
		background-color: $background-layer-1;
		align-items: center;
		#preview-color-pane {
			width: 15%;
			height: 75%;
			color: #C65032;
			background-color: darken($background-layer-2, 20);
	
			border-radius: 50px;
			border-radius: 50px;
			
			#blue-preview-colors {
				display: none !important;
			}
			.preview-colors {
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				padding-top: 20%;
				padding-bottom: 20%;
				box-sizing: border-box;
				flex-direction: column;
				height: 100%;
				width: 100%;
				.crits, .minicrits {
					height: min-content;
					width: 60%;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					h2 {
						white-space: nowrap;
						text-align: center;
						margin: 0;
						margin-bottom: 10px;
					}
	
					.colour-display {
						aspect-ratio: 1;
						width: 100%;
						border-radius: 10px;
					}
				}
				.crits {
					margin-bottom: 10px;
				}
				.minicrits {
					h2 {
						font-size: 1.25em;
					}
					.colour-display {
						aspect-ratio: 1;
						width: 70%;
						border-radius: 10px;
					}
				}
			}
		}
		#preview-tv {
			display: flex;
			align-items: center;
			width: 75%;
			height: 90%;
			position: relative;
			background-color: $background-layer-2;
			border-radius: 50px;
			box-sizing: border-box;
			padding-left: 2.5%;
			padding-right: 2.5%;
			padding-top: 2%;
			padding-bottom: 2%;
			flex-direction: column;
			#preview-image {
				display: flex;
				align-items: center;
				width: 100%;
				height: 100%;
				position: relative;
				* {
					width: 100%;
					height: 100%;
					position: absolute; top: 0; left: 0;
					background-position: bottom;
					// background-position-x: right;
					background-repeat: no-repeat;
					background-size: cover;
					border-top-left-radius: 10px;
					border-top-right-radius: 10px;		
				}
				#preview-template {
					background-image: url('assets/preview/rocketlauncher/template.png');
					mix-blend-mode: luminosity;
				}
				#preview-color-blu {
					background-color: rgb(33, 95, 204);
					mask-image: url('assets/preview/rocketlauncher/mask.png');
					mask-position: center;
					mask-size: cover;
					display: none;
				}
			
				#preview-color-red {
					background-color: rgb(204, 20, 13);
					mask-image: url('assets/preview/rocketlauncher/mask.png');
					mask-position: bottom;
					mask-size: cover;
				}
			
				#preview-hand-blu {
					background-image: url('assets/preview/rocketlauncher/blu_hand.png');
					display: none;
				}
			
				#preview-hand-red {
					background-image: url('assets/preview/rocketlauncher/red_hand.png');
				}
			
				#preview-background {
					background-image: url('assets/preview/rocketlauncher/background.png');
				}
			
				#preview-crits {
					
					background-color: rgb(33, 95, 204);
					video {
						mix-blend-mode: luminosity;
					}
				}
			}
				
			#team-select {
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				width: 100%;
				height: 10%;
				background-color: $background-layer-4;
				color: #fff;
				font-size: 2em;
				border-bottom-right-radius: 10px;
				border-bottom-left-radius: 10px;
				z-index: 99;
			}
		}
	}	
}