<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>My Page Title</title>
		<meta name="description" content="My Page Description">
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<label for="red">red</label>
		<input id="red" name="red" type="color" value="#ff0018">
		<label for="blue">blue</label>
		<input id="blue" name="blue" type="color" value="#051450">
		<h1>original crit colours</h1>
			<div class="both-class-colours">
				<div class="red-particle">
					<h2>red crits</h2>
					<div>
						<div class='colour-display' style="background-color: rgb(80, 8, 5);"></div>
					</div>
				</div>
				<div class="blue-particle">
					<h2>blue crits</h2>
					<div>
						<div class='colour-display' style="background-color: rgb(5, 20, 80);"></div>
					</div>
				</div>
			</div>
			<div class="both-class-colours">
				<div class="red-particle">
					<h2>red mini crits</h2>
					<div>
						<div class='colour-display' style="background-color: rgb(226, 150, 62);"></div>
					</div>
				</div>
				<div class="blue-particle">
					<h2>blue mini crits</h2>
					<div>
						<div class='colour-display' style="background-color: rgb(29, 202, 135);"></div>
					</div>
				</div>
			</div>

