jobs:
  keep_file_updated:
    runs-on: ubuntu-latest
    name: Keep file updated
    steps:
    - name: Checkout repo
      id: checkout
      uses: actions/checkout@v2
    - name: Update file
      id: update_file
      uses: TheLastProject/keep-remote-file-locally-up-to-date-action@v1
      with:
        url: https://raw.githubusercontent.com/SteamDatabase/GameTracking-TF2/master/tf/tf2_misc_dir/particles/particles_manifest.txt
        file_in_repo: template/particles/particles_manifest.txt
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
